---
import Layout from '../layouts/Layout.astro';
import { Hero } from '../components-react/Hero';
import { Problem } from '../components-react/Problem';
import { Stats } from '../components-react/Stats';
import { Services } from '../components-react/Services';
import { PaidAcquisition } from '../components-react/PaidAcquisition';
import { Timeline } from '../components-react/Timeline';
import { SocialProof } from '../components-react/SocialProof';
import { Objections } from '../components-react/Objections';
import { FinalCTA } from '../components-react/FinalCTA';
import { Footer } from '../components-react/Footer';
---

<Layout>
  <div class="min-h-screen" client:load>
    <Hero client:load />
    <Problem client:load />
    <Stats client:load />
    <Services client:load />
    <PaidAcquisition client:load />
    <Timeline client:load />
    <SocialProof client:load />
    <Objections client:load />
    <FinalCTA client:load />
    <Footer client:load />
  </div>
</Layout>
